.*.swp
*.pyc
.DS_Store
sandbox
build/*
yourtopia/static/compact_*
venv/*
yourtopia/static/data/*.db
yourtopia/static/data/series_data.csv
*.egg-info
settings_local.py
yourtopia/static/thumbs/1
yourtopia/static/thumbs/2
yourtopia/static/thumbs/3
yourtopia/static/thumbs/4
yourtopia/static/thumbs/5
yourtopia/static/thumbs/6
yourtopia/static/thumbs/7
yourtopia/static/thumbs/8
yourtopia/static/thumbs/9
yourtopia/static/thumbs/0
