#question-listing {
  list-style-type: none;
}

#question-listing li {
  margin-bottom: 20px;
}

div.ui-slider {
  margin-top: 10px;
  height: 0.2em;
  width: 200px;
} 

.ui-slider-horizontal .ui-slider-handle {
  height: 0.6em;
  width: 0.6em;
}

#pie {
  float: right;
  height: 200px;
  width: 200px;
}

#div-question-list {
  margin-right: 220px;
}

h3 {
  clear: none;
}

/*************************
  * Notifications
  ************************/

div#inline-notification {
  background: #DAD4DF;
  padding: 0.6em 0;
  border-bottom: solid 1px #9f9f9f;
  text-align: center;
  padding: 0.8em 1.5%; 
  line-height: 1em;
  font-size: 14px;
}

div#inline-notification.error {
  background: #800000;
  color: white;
}

div#inline-notification a {
  font-weight: bold;
}

div#inline-notification button {
  float: right;
  margin-top: -0.2em;
  padding-top: 0;
  font-size: 90%;
}
