<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <py:def function="page_title">About</py:def>
  <div py:def="content">
    <div class="top">
      <div class="box_left">
    <p>
    	<strong>The problem:</strong>
    	GDP per capita is a flawed and incomplete indicator of human development. Solely focusing on aggregate production, 
        it neglects essential dimensions of 			human life - ranging from environmental issues to happiness and individual freedoms. 
        While recent decades saw a surge in alternative indicators of development - with the Human Development Index as the most renown alternative -
        most indicators are at least as flawed and are often based on arbitrary assumptions.
    </p>
    <p>
        Joseph E. Stiglitz, Amartya K. Sen, Jean-Paul Fitoussi, among others, recently proposed a new framework for measuring social progress beyond GDP. 
        We regard their report as a paramount to development economics and have constructed this website to supplement one of their findings: In relation 
        to the composite indices on which most alternatives to GDP rely, they argue that the weights attributed to indicators making up these indices 
        "are either arbitrary or reflect value judgements on which there is not broad consensus". The problem arises when the relative importance the 
        researcher attaches to different categories of well-being do not coincide with the relative values of the index's user, which - of course - 
        is very likely. 
    </p>
    
    <p>As a result, the informative value of such GDP alternatives is questioned; furthermore, a democracy deficit arises since weights cannot be elected 
    but guide policymakers, and thirdly, non-GDP measures of development may fall short in the public's reception. 
    </p>

	<p><strong>Our goal: </strong>We seek to analyse to what extend individualised voting can overcome the weighting problem. To make this study possible, each answer is stored anonymously and adds to our database of preference relations. Ideally, we hope that a stable weighting scheme will emerge as the number of observation increases (to a large N). While answering the quiz alone is fun enough, we hope to gather data through this project and generate a valuable contribution to the existing body of experimental literature on social indicators. </p>
<p>Utmost effort has been put into making our "quiz" and measure as scientifically sound as possible. As for now, our dataset is confined to a 2008 cross-section of European countries but we will gradually include more countries and years. Please support our project by participating and asking your friends to join. </p>

<p><strong>Behind this project: </strong> Guo Xu, Dirk Heine, Rufus Pollock, Friedrich Lindenberg and Hannes Bretschneider, OKFN.
</p>
<p><strong>
Related literature: </strong></p>
Speich (2008) Travelling with the GDP through EDE's History,LSE Working Papers; Alkire and Foster (2008) Counting and multidimensional poverty measurement, OPHI Working Paper Series; Van den Bergh (2007) Abolishing GDP, Tinbergen Institute Working Paper; Sen (1999) Development as Freedom, Random House NY
      </div>
         <div class="box_right">
        <p>Embed Youtube video here</p>
      </div>
    </div>
  </div>

  <xi:include href="layout.html" />
</html>


