<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

  <py:def function="page_title">Home</py:def>
  
  <div py:def="content">

    <div class="row top">
      <div class="box">
        <div class="startquiz">
        <h3>Which country is closest to your (u)topia?</h3>
        <a href="${url_for('quiz')}" class="start_button">Start quiz</a>
        </div>

        <div class="teaser"></div>
    </div>

    <div class="right">
      Find out how Yourtopia works!
        <br /><br />
<div id="dimensions_tool">
<a href="${url_for('about')}" title="Economy"><img src="static/img/icons/economy.png" width="50" height="50" border="0" /></a>
<a href="${url_for('about')}" title="Education"><img src="static/img/icons/education.png" width="50" height="50" /></a>
<a href="${url_for('about')}" title="Environment"><img src="static/img/icons/environ.png" width="50" height="50" /></a>
<br />
<a href="${url_for('about')}" title="Health"><img src="static/img/icons/health.png" width="50" height="50" /></a>
<a href="${url_for('about')}" title="Inequality"><img src="static/img/icons/inequality.png" width="50" height="50" /></a>
<a href="${url_for('about')}" title="Institutions"><img src="static/img/icons/institutions.png" width="50" height="50" /></a>
<br />
<a href="${url_for('about')}" title="Governance"><img src="static/img/icons/governance.png" width="50" height="50" /></a>
<a href="${url_for('about')}" title="Security"><img src="static/img/icons/security.png" width="50" height="50" /></a>
<a href="${url_for('about')}" title="Social capital"><img src="static/img/icons/social_cap.png" width="50" height="50" /></a>
</div>
      </div>
    </div>
    <div class="row">
      <div class="box idea">
        <strong>The idea:</strong> Construct a measure of social progress world-wide
  based on your preferences for development. Participate in a global effort to
  improve tracing of humanity's progress towards the <a href="http://www.un.org/millenniumgoals/" title="The Millennium Development Goals are the world's objectives for mitigating the worst human miseries. Click here for more info on the MDGs" target="_blank">Millennium Development Goals</a>.
        <p>
        <a href="${url_for('about')}">More about YourTopia &raquo;</a>
        </p>
      </div>
    </div>
  </div>
  <xi:include href="layout.html" />
</html>


