<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

  <py:def function="page_title">Quiz</py:def>

  <py:def function="optional_head">
    <script src="http://assets.okfn.org/ext/flot/0.6/jquery.flot.min.js"></script>
    <script src="/static/vendor/jquery.flot.pie.js"></script>

    <script src="/static/app.js"></script>
    <script type="text/javascript">
jQuery(function() {
  OpenHDI.setupApp();
  OpenHDI.renderPieChart();
});
    </script>
  </py:def>

  <div py:def="content">
    <div id="pie"></div>

    <div id="div-question-list">
      <p>How important are each of the following items to your ideal country?</p>
      <ul id="question-listing">
        <li py:for="question in questions" class="question" id="question-${question['id']}">
          <h3>${question['label']}</h3>
          Current weighting: <span id="weighting-${question['id']}-percent"></span>%
          <div id="weighting-${question['id']}" class="weighting"></div>
        </li>
      </ul>
      <button id="save">Save</button>
    </div>
  </div>

  <xi:include href="layout.html" />
</html>

