<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

  <py:def function="page_title">Quiz</py:def>

  <py:def function="optional_head">
  </py:def>

  <py:def function="primary_sidebar_extras">
    <li class="widget-container widget_text">
      <h3 class="widget-title">Want to change an answer?</h3>
        <div class="textwidget">
          <ul>
            <li py:for="step in range(1,num_steps+1)">
            <a href="${url_for('quiz_question', step=step)}">
              Step ${step}</a>
            </li>
          </ul>
        </div>
    </li>
  </py:def>

  <div py:def="content">
    <h2>
      You have completed the quiz!
    </h2>
    <div>
      <p>
      <a href="${url_for('result_me')}">Click here to view
        your YourTopia country rankings &raquo;</a>
      </p>
      <p>
      (Please be patient after you click as we'll be doing some
      number-crunching to compute the YourTopia scores)
      </p>
    </div>
    <h3>Want to change an answer?</h3>
    <p>To return to a previous step and change a value just click on one of the
    following links.</p>
    <ul>
      <li py:for="step in range(1,num_steps+1)">
      <a href="${url_for('quiz_question', step=step)}">
        Step ${step}</a>
      </li>
    </ul>
  </div>

  <xi:include href="layout.html" />
</html>

