<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

  <py:def function="page_title">Home</py:def>

  <py:def function="optional_head">
    <script src=" https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js"></script>
    <script src="/static/vendor/jquery.json-2.2.min.js"></script>
    <script src="http://assets.okfn.org/ext/jquery.cookie/jquery.cookie.min.js"></script>
  <!--[if IE]><script language="javascript" type="text/javascript" src="http://assets.okfn.org/ext/flot/0.6/excanvas.min.js"></script><![endif]-->
    <!--script src="http://assets.okfn.org/ext/flot/0.6/jquery.flot.min.js"></script-->
    <!--script src="/static/vendor/jquery.flot.pie.js"></script-->
    <script src="/static/vendor/underscore-1.1.3.js"></script>
    <script src="/static/vendor/backbone-0.3.3.js"></script>
    <script src="/static/vendor/protovis-r3.2.js"></script>
    <script src="/static/countries.js"></script>
    <script src="/static/app.js"></script>
    <script type="text/javascript">
jQuery(function() {
  OpenHDI.setupApp();
});
</script>
  </py:def>

  <div py:def="content">

      <p>Places you could move: </p>

<div id="center"><div id="fig">
    <script type="text/javascript+protovis">
	var scoresData = $.ajax({ type: "GET", url: "/api/scores", async: false }).responseText; 
    var scores = JSON.parse(scoresData); 
	
var data = scores.user[2007];
/* Sizing and scales. */
var w = 400,
    h = 250,
    x = pv.Scale.linear(0, 1.1).range(0, w),
    y = pv.Scale.ordinal(pv.range(2000)).splitBanded(0, h, 4/5);

/* The root panel. */
var vis = new pv.Panel()
    .width(w)
    .height(h)
    .bottom(20)
    .left(20)
    .right(10)
    .top(5);

/* The bars. */
var bar = vis.add(pv.Bar)
    .data(data)
    .top(function() y(this.index))
    .height(y.range().band)
    .left(0)
    .width(x);

/* The value label. */
bar.anchor("right").add(pv.Label)
    .textStyle("white")
    .text(function(d) d.toFixed(1));

/* The variable label. */
bar.anchor("left").add(pv.Label)
    .textMargin(5)
    .textAlign("right")
    .text(function() "ABCDEFGHIJK".charAt(this.index));

/* X-axis ticks. */
vis.add(pv.Rule)
    .data(x.ticks(5))
    .left(x)
    .strokeStyle(function(d) d ? "rgba(255,255,255,.3)" : "#000")
  .add(pv.Rule)
    .bottom(0)
    .height(5)
    .strokeStyle("#000")
  .anchor("bottom").add(pv.Label)
    .text(x.tickFormat);

vis.render();

    </script>
  </div></div>

  </div>

  <xi:include href="layout.html" />
</html>

