{% extends "base.html" %}
{% block title %}Yourtopia #{{ entry.id }} by {{ entry.user_name }}{% endblock %}

{% block body %}
<div class="backbone-page details">
  
  <h1>{{ 'details_headline'|i18n(session.lang) }}</h1>

  <p>
    Yourtopia {{ 'number_prefix'|i18n(session.lang) }} {{ entry.id }}, {{ 'browse_by'|i18n(session.lang)|lower }} <strong>{{ entry.user_name }}</strong>
    {{ 'browse_on_date'|i18n(session.lang) }}
    {{ entry.created_at|dateformat('dateformat_compact'|i18n(session.lang)) }}
  </p>
  <p class="quote">
    {{ 'quotation_on'|i18n(session.lang) }}{{ entry.description }}{{ 'quotation_off'|i18n(session.lang) }}
  </p>
  
  
  <div class="sharing">
    <div class="text">
      {{ 'createown_bar_line1'|i18n(session.lang) }}
      <br />{{ 'createown_bar_line2'|i18n(session.lang) }}
    </div>
    <div class="buttondiv">
      <a class="btn" href="/">{{ 'createown_bar_button'|i18n(session.lang) }}</a>
    </div>
  </div>

</div>
{% endblock body %}