body {
  padding-top: 20px;
}

h1 {
  margin-bottom: 0.4em;
}

#header {
  padding-bottom: 2em;
}
#header .tagline {
  font-size: 88%;
  text-align: center;
  position: relative;
  top: -8px;
}
#header .lang {
  padding-top: 8px;
  text-align: right;
}

/* footer */
footer {
  font-size: 88%;
  margin-bottom: 10em;
}
footer .firstrow {
  margin-top: 3em;
  border-top: 1px solid #ddd;
  padding-top: 1em;
  padding-bottom: 1em;
}
footer .secondrow {
  border-top: 1px solid #ddd;
  padding-top: 1em;
}
footer .okfnlogo {
  background: url(/static/img/okfn-logo.png) no-repeat;
  padding-left: 40px;
}

/* Home page */
#sharing-top {
  display: none;
}
.index-create .sharing, .details .create-your-own {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 14px 0;
  margin-top: 10px;
}
.index-create .sharing {
  height: 48px;
}
.index-create .sharing .text, .details .create-your-own .text {
  text-align: center;
  font-size: 112%;
}
.index-create .sharing .text.note {
  float: left;
  text-align: left;
  width: 66%;
  padding-left: 1em;
  padding-right: 3em;
  font-size: 88%;
}

.index-create .sharing button,
.index-create .sharing a,
#save,
.details .create-your-own .btn {
  padding: 8px 35px;
  font-size: 112%;
}

.sliders {
	height: 180px;
}

/* Index create: Details panel buttons */
.measure-details .buttons {
  overflow: auto;
}
.details-button {
  width: 95px;
  float: left;
  text-align: center;
  line-height: 14px;
}
.details-button a {
  border: 1px solid #fff;
  display: block;
  height: 35px;
  padding-top: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.details-button a:hover {
  border: 1px solid #ddd;
}
.details-button.current a {
  color: #333;
  border: 1px solid #ddd;
  border-bottom-color: #fff;
  border-bottom-width: 2px;
  text-decoration: none;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.details-panel {
  display: none;
  border: 1px solid #ddd;
  margin-top: -1px;
  padding: 1em;
  overflow: auto;
  margin: auto;
}
.details-panel .subsliders-container {
  float: left;
}
.details-panel .subsliders {
}
.details-panel .subslider-labels {
  float: left;
  height: 70px;
  overflow: auto;
}
.details-panel .subslider-label {
  float: left;
  text-align: center;
  font-size: 88%;
  padding-left: 5px;
  padding-right: 5px;
  height: 50px;
}
.details-panel .text {
  width: 500px;
  /*height: 200px;*/
  float: left;
  padding-bottom: 10px;
}
.details-panel .head {
  font-weight: bold;
  margin-bottom: 0;
  padding-right: 20px;
}
.details-panel .description {
  font-size: 88%;
  padding-right: 20px;
}


/* Index create: result view */
.resultview {
  padding-top: 1em;
}

/* result view bar chart table */
#rankmap {
  overflow: auto;
  text-align: center;
  width: 850px;
  margin: 0 auto;
}
#rankmap #rank {
  width: 350px;
  float: left;
  padding-top: 50px;
}
#rankmap #map {
  width: 500px;
  float: left;
}
#rank .row {
  overflow: auto;
  cursor: pointer;
}
#rank .row > {
  cursor: pointer;
}
#rank .rowlabel {
  text-align: left;
  padding-right: 15px;
  width: 140px;
  display: block;
  height: 18px;
  line-height: 16px;
  float: left;
}
#rank .barcontainer {
  height: 18px;
  float: left;
  width: 130px;
}
#rank .bar  {
  background-color: #888;
  color: #666;
  line-height: 14px;
}
#rank .rowlabel span {
  background-color: #ffffff;
  padding: 0 2px;
}
#rank .rowlabel .highlight {
  background-color: #ce6600;
  color: #ffffff;
}

.footer {
  margin-top: 2em;
  padding-top: 1em;
  margin-bottom: 10em;
}

.centered {
  text-align: center;
}

/* About page */
.about .indicator {
  margin-bottom: 2em;
}

/* Browse page */

.browse .inner {
  height: 220px;
  padding: 0.6em 1em;
  padding-top: 1.2em;
  border: 1px solid #ddd;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  display: block;
}
.entry .quote {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 133%;
  display: block;
  margin-bottom: 0.5em;
}
.entry a:link, .entry a:visited {
  color: #333;
}
.entry a:link .quote, .entry a:visited  .quote {
  color: #666;
}
.browse .paddingbottom {
  padding-bottom: 1em;
}

.browse .paging {
  padding-top: 2em;
}
.paging .btn-group {
  text-align: center;
}
.paging .btn {
  padding-left: 30px;
  padding-right: 30px;
  display: inline-block;
  float: none;
}

/* detail page */

.details .quote {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 133%;
}
.sharing-functions {
  border: 1px solid #ddd;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 1.2em 1.5em;
  margin-top: 1.5em;
}
.socmedia-sharing {
  margin-top: 1em;
  margin-bottom: 1em;
  border-top: 1px solid #ccc;
  padding-top: 1em;
}
.email-sharing {
  margin-top: 1em;
  margin-bottom: 1em;
  border-top: 1px solid #ccc;
  padding-top: 1em;
}
.socmedia-sharing {
  padding-top: 1em;
}
.manual-sharing {
  margin-top: 1em;
  border-top: 1px solid #ccc;
  padding-top: 1em;
}
.manual-sharing input {
  width: 50em;
}
.btn.fbook {
  background-color: #3b5998;
  linear-gradient(#5670a6, #344f86);
  background-image: -webkit-linear-gradient(top, #5670a6, #344f86);
  color: #fff;
}
.btn.twitter {
  background-color: #33ccff;
  linear-gradient(#47d0ff, #2db3e1);
  background-image: -webkit-linear-gradient(top, #47d0ff, #2db3e1);
}
.btn.gplus {
  background-color: #d74a2d;
  linear-gradient(#de6145, #ba3d25);
  background-image: -webkit-linear-gradient(top, #de6145, #ba3d25);
  color: #fff;
}

/* edit page */
.edit h1 {
  margin-top: 0.3em;
  margin-bottom: 0.4em;
}
.edit .description-textarea {
  width: 99%;
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 133%;
  margin-bottom: 3px;
}
.edit .charsLeft {
  font-size: 88%;
  text-align: right;
}
.edit .saveshare {
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}




