.components {
	list-style-type: none;
	margin: 0 0 18px 0;
	padding: 5px;
	box-shadow: inset 1px 1px 5px rgba(0,0,0,0.1);
	height: 12em;
	overflow-y: scroll;
}

.components li {
	position: relative;
	padding: 2px;
	cursor: pointer;
}

.components li:hover {
	background-color: #efefef;
}

.universe li {
	padding-left: 30px;
}

.components li:before {
	font-family: HeydingsCommonIconsRegular;
	font-size: 20px;
	position: absolute;
	top: 50%;
	line-height: 0;
}

.universe li:before {
	left: 5px;
	content: '+';
	color: rgba(0,200,0,0.7);
}

.universe li.selected:before {
	left: 5px;
	content: '-';
	color: rgba(0,200,0,0.7);
}

.filter {
	display: block;
	margin: 0 0 18px 0;
}